<header class="py-4 relative">
    <div class="container max-w-7xl mx-auto flex justify-between flex-wrap items-center lg:items-stretch px-4">
        <a href="#" class="w-[70px]">
            <img src="/images/logo.png" alt="Hema">
        </a>
        <div class="w-[calc(100%_-_70px)] pl-4">
            <nav class="absolute top-full left-0 lg:top-0 lg:relative hidden lg:flex flex-wrap w-full justify-between font-semibold text-[13px] mb-1.5 bg-white z-10 py-4 lg:py-0">
                <ul class="flex flex-col lg:flex-row w-full lg:w-auto">
                    <li class="lg:pr-4"><a href="#" class="px-5 lg:p-0 hover:text-blue"> ga naar hema.nl</a></li>
                    <li class="lg:pr-4"><a href="#" class="px-5 lg:p-0 hover:text-blue">fotoservice</a></li>
                    <li class="lg:pr-4"><a href="#" class="px-5 lg:p-0 hover:text-blue">cadeaukaarten</a></li>
                    <li class="lg:pr-4"><a href="#" class="px-5 lg:p-0 hover:text-blue">verzekeringen</a></li>
                    <li class="lg:pr-4"><a href="#" class="px-5 lg:p-0 text-orange hover:text-blue">goede koop</a></li>
                    <li class="lg:pr-4"><a href="#" class="px-5 lg:p-0 text-blue hover:text-blue">inspiratie</a></li>
                </ul>
                <ul class="flex flex-col lg:flex-row w-full lg:w-auto">
                    <li class="lg:pl-4"><a href="#" class="px-5 lg:p-0 hover:text-blue">'meer HEMA' klantenpas</a></li>
                    <li class="lg:pl-4"><a href="#" class="px-5 lg:p-0 hover:text-blue">onze klantenservice</a></li>
                </ul>
            </nav>
            <div class="flex flex-wrap w-full items-center">
                <div class="w-[calc(100%_-_246px)] relative">
                    <input class="transition-all duration-300 text-base font-normal bg-white text-dark_grey py-1.5 leading-[26px] px-4 border border-input_border rounded-sm outline-none focus:outline-none w-full" placeholder="waar ben je naar op zoek?" type="text">
                    <button type="submit" class="absolute top-0 right-0 px-4"></button>
                </div>
                <a href="#" class="ml-2.5 bg-light_brown leading-10 px-4 rounded-sm">mijn HEMA</a>
                <a href="#" class="px-4 bg-light_brown leading-8 h-10 flex items-center justify-center ml-2.5"><img class="w-3.5" src="/images/heart.png" alt=""></a>
                <a href="#" class="px-4 bg-orange leading-8 h-10 flex items-center justify-center ml-2.5"><img class="w-[26px] h-[25px]" src="/images/icon-cart.svg" alt=""></a>
            </div>
        </div>
    </div>
</header>